extends layout

block content
  .container
    .row
      .col-sm-12(align="center")
        div(class="clock-container clocks single bounce")
          div(class="analog-clock ios7 show")
            div(class="analog-hours-container")
              div(class="analog-hours")
            div(class="analog-minutes-container")
              div(class="analog-minutes")
            div(class="analog-seconds-container")
                      div(class="analog-seconds")
    .row
      .col-sm-12(align="center")
        table(class='table table-inverse')
          tr
            td
              .sensor-indicator
            td
              .sensor-text Test


  script(src='javascripts/clocks.js')
  script(src='javascripts/sensors.js')