extends layout

block content
  .container
    .row
      .col-sm-12(align="center")
        div(class="clock-container clocks single bounce")
          div(class="analog-clock ios7 show")
            div(class="analog-hours-container")
              div(class="analog-hours")
            div(class="analog-minutes-container")
              div(class="analog-minutes")
            div(class="analog-seconds-container")
              div(class="analog-seconds")

    .row
      .col-sm-1
        .sensor-indicator
      .col-sm-11
        .sensor-text Test

